                 
<div class="row">
             <div class="col-md-6">
                            {{ widgetmgr.render("\\Modules\\HR\\Widgets\\monthlyExpense",{getEmployeeId:getEmployeeId}) | raw }}     
            </div>
             <div class="col-md-6">
                            {{ widgetmgr.render("\\Modules\\HR\\Widgets\\categoyExpense",{getEmployeeId:getEmployeeId}) | raw }}     
            </div>
</div>


   

        