{% extends "email/emailBaseAlembic.twig" %}
{% block content %}
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; background-color:#ce9595;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 28px; vertical-align: top; margin: 0; padding: 23px 0 20px; text-align: center;"
        valign="top">{{ appName }} - Duplicate Pcode</td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block " style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">

        <p>Dear All, </p>

        <p>We found duplicate Pcodes ({{ duplicateCount }} records) into active customer data. Please check below details</p>

        <table style="border-collapse: collapse; ; width: 100%;">
            <tr>
                {% for column in columns %}
                <td style="border: 1px solid #dddddd; padding: 8px;">{{ column }}</td>
                {% endfor %}
            </tr>
            {% for d in data %}
                <tr>
                    {% for column in columns %}
                    <td style="border: 1px solid #dddddd; padding: 8px;">{{ d[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr></tr>
        </table>
        <p><br></p>
        <p>Best Regards, <br>PNO Team</p>
        <p><br></p>
    </td>
</tr>
{% endblock %}