<div class="card-box">
    <h4 class="header-title m-t-0 m-b-30">Category Wise Orders</h4>

    <canvas id="pie" ></canvas>
</div>


<script>
    
    
        var ctx = document.getElementById("pie").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ categoryExp.labels|json_encode|raw }},
            datasets: [
                {
                    label: "Monthly Expense ",
                    backgroundColor: {{ categoryExp.color|json_encode|raw }},
                    borderColor: "#fff",
                    hoverBackgroundColor: {{ categoryExp.color|json_encode|raw }},
                    data: {{ categoryExp.data|json_encode|raw }}
                }
            ]
        }
});

        
        </script>

