{% extends 'base.twig' %}
    {% block content %}
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="ex-page-content text-center">
        <div class="text-error">404</div>
        <h3 class="text-uppercase font-300">{{ errorMsg }}</h3>
        <br />
        </div>
    </div>
    {% endblock %}
