<div class="col-lg-3 col-md-6" id="approveTripLink">
    <a href="{{router.getPath('ess_trips')}}?page=P">
        <div class="card-box widget-user" style="background-color: #fff8df">
            <div class="text-center">
                <h2><i class="fa fa-check"></i></h2>
                <h5>Approve Trips ({{tripApprove}})</h5>
                
            </div>
        </div>
    </a>
</div>
